body{
  font-family: 'Poppins', 'sans-serif';
}

/* =============================
SECTION: UTILITIES
================================*/
.btn{
  padding: 0.8rem 0.9rem;
  border-radius: 50rem;
}

.btn-primary{
  background-color: rgb(200, 118, 255);
  border-color: rgb(200, 118, 255);
}

.btn-primary:hover{
  background-color: rgba(200, 118, 255,0.9);
  border-color: rgba(200, 118, 255, 0.9);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  background-color: rgb(200, 118, 255);
  border-color: rgba(200, 118, 255, 0.9);
  box-shadow: 0 0 0 0.25rem rgba(200, 118, 255, 0.5);
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
  background-color: rgb(200, 118, 255);
  border-color: rgba(200, 118, 255, 0.8);
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(200, 118, 255, 0.5);
}

.text-bold{
  font-weight: 700;
  font-size: 5rem;
}

.text-semi-bold{
  font-weight: 600;
  font-size: 3rem;
}

.text-medium{
  font-weight: 600;
  font-size: 1.5rem;
}

.para{
  line-height: 1.8rem;
}

/* =============================
SECTION: NAVBAR
================================*/
nav.bg-nav{
  background-color: rgb(1, 1 ,8);
}

nav button.navbar-toggler{
  border-radius: 50%;
  padding: 0.30rem 0.50rem;
  font-size: 1.20rem;
}

nav ul.navbar-nav{
  padding: 0.5rem 4rem;
}

nav ul.navbar-nav li.nav-item {
  margin-right: 1.5rem;
}

nav ul.navbar-nav li.nav-item a.active{
  border: 1px solid rgb(200, 118, 255);
  border-radius: 50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(200, 118, 255)!important;
}


/* =============================
SECTION: MAIN
================================*/
main section{
  padding: 4rem 0;
}

/* =============================
SECTION: INTRO
================================*/
section#intro{
  background-color: rgb(1, 1, 8);
  padding-top: 4rem;
  padding-bottom: 0;
  color: rgb(255,255,255);
}

section#intro div.part-text button{
  margin: 2rem 0;
}

/* =============================
SECTION: ABOUT ME
================================*/
section#about-me{
  background-color: rgba(1, 1, 8, 0.9);
  color: rgb(255, 255, 255);
}

section#about-me div.part-image img{
  float: left;
}

/* =============================
SECTION: INTERESTS AND HOBBIES
================================*/
section#interests-hobbies{
  background-color: rgba(1, 1, 8, 0.9);
  color: rgb(255, 255, 255);
}

section#interests-hobbies div#interests-hobbies{
  justify-content: center;
}

section#interests-hobbies div.hobby{
  text-align: center;
}

section#interests-hobbies div.hobby i{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0.7rem;
  font-size: 3rem;
}

/* =============================
SECTION: SKILLS AND SERVICES
================================*/
section#skills{
  background-color: rgb(1, 1 ,8);
  color: rgb(255,255,255);
}

section#skills div.skill div.progress{
  height: 1.5rem;
  border-radius: 50rem;
}

section#skills div.skill div.progress-bar{
  background-color: rgb(200, 118, 255);
}

/* =============================
SECTION: SERVICES
================================*/
section#services{
  background-color: rgba(1, 1, 8, 0.9);
  color: rgb(255, 255, 255);
}

/* =============================
SECTION: MEDIA QUERIES
================================*/
@media screen and (max-width: 578px){
  /* =============================
    SECTION: UTILITIES
  ================================*/
  .text-bold{
    font-weight: 700;
    font-size: 3.5rem;
  }

  .text-semi-bold{
    font-weight: 600;
    font-size: 2rem;
  }

  .row{
    text-align: center;
  }

  .col-12, .col-6{
    margin-top: 1.5rem;
  }

  main section{
    padding: 3rem 0;
  }

  section#about-me div.part-image img{
    float: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px){
  .text-bold {
    font-weight: 700;
    font-size: 3.5rem;
  }

  .text-semi-bold {
    font-weight: 600;
    font-size: 2rem;
  }
}

